.about-container {
  height: auto;
  margin-top: 5%;

  .about-header {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .about-photo {
      //height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      border: 2px solid #ccc;
      border-radius: 8px;
      overflow: hidden;

      .photo {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    @media (max-width: 768px) {
      .about-photo {
        max-width: 80%;
      }
    }

    @media (max-width: 768px) {
      .about-description{
        max-width: 80%;
      } 
    }
  }

  .about-name {
    font-size: 1.5rem;
  }
}
